.form {
    background-color: white;
    box-shadow: 1px 1px 3px #ddd;
    padding: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.form__input {
    border: 1px solid #ccc;
    padding: 5px;
    flex-basis: 500px;
}

.form__button {
    background-color: teal;
    border: 1px solid hsl(180, 100%, 40%);
    padding: 5px;
    color: white;
    cursor: pointer;
    flex-basis: 120px;
    margin-left: 15px;
}