.list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.list__item {
    background-color: white;
    padding: 15px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    padding: 12px;
    background-color: green;
    border: none;
}

.list__button--done {
    background-color: blue;
}

.list__button--remove {
    background-color: red;
    float: right;
}